<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="~{ base::baseFrag(~{::section}) }">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>

	<section class="main-content banner d-flex justify-content-center align-items-center ">
	 <div class="text-center">
	 	<h2 class="font-weight-bold">Home page section</h2>
	 	<p>Start collecting contacts in smarter way. We provide efficeient and smarter way to manage contacts</p>
	 
	 <button class="btn btn-primary btn-lg">Get Started</button>
	 </div>
	 
	</section>
</body>
</html>